@charset "UTF-8";
/* CSS Document */

.intro {
	/*margin-top: -180px;*/
	padding: 0px;
    background-image: url(../assets/images/back_intro.jpg);
    background-size: auto;
	background-position: bottom center;
    height:100vh;
    /* margin-top: -180px; */
    max-width: 1280px;
    margin: 0 auto 0 auto;
}

.contenedor {
	position: absolute;
	bottom: 40px;
	width: 100%;
	overflow: hidden;
	z-index: 10;
	padding-top: 0;
	max-width: 1280px;
}

.contenedor_downbutton {
	width: 100%;
	text-align: center;	
	margin-top: -50px; 
}

.contenedor_downbutton img{
	cursor: pointer;
}

video{
	position: relative; 
	margin: 0 auto; 
	top: 50%; 
	transform: translateY(0%);
	display: none;
}

.btn_scroll {
	height: 60px;
	width: 60px;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	padding-left:15px;
}

.contenedor_anim {
	width: 100%;
	overflow: hidden;
	z-index: 100;
	min-height: 100%;
	margin-top: -100px;
	height: 90vh;
}

.btn_play{
	position: absolute;
	width: 100%;
	bottom: 60px;
	overflow: hidden;
	z-index: 110;
	padding-top: 0;
	height: 150px;
}

/* Extra Small Devices, Phones */ 
 @media only screen and (orientation: landscape) {
	.contenedor_anim {
		background: url('../assets/images/horizontal_intro_play.png');
		background-repeat: no-repeat;
		background-position: center;
		background-position-y: 10vh;
		background-size: contain;
		margin-top: -180px;
	}
	 .contenedor{
		 padding-top: 20px;
	 }
	video{
		position: relative; 
		margin: 0 auto; 
		top: 50%; 
		transform: translateY(0%);
		display: block;
	}
	.btn_play{
		display: none;
	}
	.btn_scroll {
		padding-left:30% !important;
	}
}

@media only screen and (orientation: portrait) {
	.contenedor_anim {
		background: url('../assets/images/vertical_intro_play.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
	video{
		position: relative; 
		margin: 0 auto; 
		top: 50%; 
		transform: translateY(70%);
		display: none;
	}
	.btn_play{
		background: url('../assets/images/play-btn-white.png');
		background-repeat: no-repeat;
		background-position: center center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.intro {
		height: 730px;
		margin-top: 0px;
	}
	.contenedor_anim {	
		margin-top: -50px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) { 
	.intro {
		height: 730px;
		margin-top: 0px;
	}
	.contenedor_anim {	
		margin-top: -50px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.intro {
		height: 730px;
		margin-top: 0px;
	}
	.contenedor_anim {	
		margin-top: -50px;
	}
}