@charset "UTF-8";

/* CSS Document */


/*-----------------------------------
    1. Body / Typography 
-----------------------------------*/

@font-face {
    font-family: h_dletterpress_webfont;
    src: url(../assets/fonts/h_dletterpress-webfont.woff);
}

@font-face {
    font-family: h_dletterpress-webfont2;
    src: url(../assets/fonts/h_dletterpress-webfont.woff2);
}

.menu_options {
    font-family: h_dletterpress_webfont;
    text-transform: uppercase;
    font-size: 1.5em;
}
.inicio {
    display: none !important;   
}
.talento{
}
.prog {
}
.rod {
}
.bol { 
}
.sede {  
}

.menu_options a {
    background-color: transparent !important;
}
.menu_options a:hover {
    color: #f07d00;
}


.text_decoration_small{
    font-family: h_dletterpress_webfont;    
    /* Safari */
    -webkit-transform: rotate(354deg);
    -moz-transform: rotate(354deg);
    -ms-transform: rotate(354deg);
    -o-transform: rotate(354deg);
    transform: rotate(354deg);
    line-height: 1.3em;
    font-size: 1.7em;
    color: #000000;
    text-align: right;
	background-image: url(../assets/images/bullet_cruz_negro.png); 
	background-position: 20%;
	background-repeat: no-repeat;
	background-size:35px;
	/*padding-right:22px;*/
}

.custom_text {
    font-size: 2.5em !important;
}


.text_decoration_small_titulo{
    font-family: h_dletterpress_webfont;   
    line-height: 30px;
    font-size: 1.6em;
    color: #000000;
    text-align: left;
	padding-left:15px;
}

.sincruz{
	background-image:none;
}

.text-section-rodada{
    font-family: h_dletterpress_webfont;    
    /* Safari */
    -webkit-transform: rotate(354deg);
    -moz-transform: rotate(354deg);
    -ms-transform: rotate(354deg);
    -o-transform: rotate(354deg);
    transform: rotate(354deg);
    font-size: 2.5em;    
    line-height: 1.2em;
    color: #fff;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 50px;
}

.text_decoration_small_boletos{
    font-family: h_dletterpress_webfont;    
    /* Safari */
    -webkit-transform: rotate(354deg);
    -moz-transform: rotate(354deg);
    -ms-transform: rotate(354deg);
    -o-transform: rotate(354deg);
    transform: rotate(354deg);
    line-height: 2.2em;
    font-size: 1.5em;
    color: #000000;
	padding-left:15px;
}

.text_decoration_small_normal{
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-size: 1em;
    color: #FFF;    
}

.text_decoration_small_normal_with_bullet{
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-size: 1em;
    color: #FFF;
    background-image: url(../assets/images/bullet_cruz_negro.png); 
    background-position: 0%;
    background-repeat: no-repeat;
    background-size:15px;    
    font-weight: bold;    
    padding-right: 5px;

}

.text_decoration_small_rodada_normal{
    font-family: h_dletterpress_webfont;
    line-height: 1.2em;
    font-size: 1.3em;
    color: #FFF;    
    background-image: url(../assets/images/bullet_cruz_negro.png); 
    background-position: 0%;
    background-repeat: no-repeat;
    background-size:25px; 
    padding-left: 25px;
	margin-left: 20px;
    font-weight: bold;
}

.text_decoration_small_bandas_normal{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    color: #FFF;
    padding-left: 10px;
}

.text_decoration_legal{
    font-family: 'Roboto', sans-serif;
    line-height: 1em;
    color: #000;
    padding-left: 10px;
    font-weight: regular;
    font-size: 0.8em;
    text-align: justify;
    padding-right: 10px;
    padding-top: 10px;

}

.text_decoration_medium{
    font-family: h_dletterpress_webfont;    
    /* Safari */
    -webkit-transform: rotate(354deg);
    -moz-transform: rotate(354deg);
    -ms-transform: rotate(354deg);
    -o-transform: rotate(354deg);
    transform: rotate(354deg);
    font-size: 2.5em;
    color: #000000;
	line-height: 1.2em;
    text-align: right;
	background-image: url(../assets/images/bullet_cruz_negro.png); 
	background-position:top left; 
	background-repeat: no-repeat;
	background-size:35px;
}

.date_text{
    font-size: 3.0em !important;
}

.sincruz{
	background-image:none;
}

#link_conciertos {margin-top: -100px;}

.text_decoration_medium_boletos{
    font-family: h_dletterpress_webfont;    
    /* Safari */
    -webkit-transform: rotate(354deg);
    -moz-transform: rotate(354deg);
    -ms-transform: rotate(354deg);
    -o-transform: rotate(354deg);
    transform: rotate(354deg);
    line-height: 40px;
    font-size: 2.0em;
    color: #FFFFFF;
    text-align: center;
	padding-left: 30px;
}

.text_decoration_medium_reglamento{
    font-family: h_dletterpress_webfont;    
    /* Safari */
    -webkit-transform: rotate(354deg);
    -moz-transform: rotate(354deg);
    -ms-transform: rotate(354deg);
    -o-transform: rotate(354deg);
    transform: rotate(354deg);
    line-height: 40px;
    font-size: 2.0em;
    color: #FFFFFF;
    text-align: center;
	padding-left: 30px;
}


.text_decoration_high{
    font-family: h_dletterpress-webfont2;
    -webkit-transform: rotate(354deg);
    -moz-transform: rotate(354deg);
    -ms-transform: rotate(354deg);
    -o-transform: rotate(354deg);
    transform: rotate(354deg);
    font-size: 4em;
    color: #fff;    
}

.title_program{
    text-align: left;
    font-size: 3.3em;    
}

.ul_equipor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ul_equipor li {
    float: left;
    display: block;    
    text-align: center;
    padding-left: 15px;    
}

.ver_mas {
    cursor: pointer;
	display: none;
}

.ver_mas img {
    width: 20%;
}

.row_inner {
    margin-top: 20px;
	max-width: 450px;
}

.fila_contenido{
	display: none;
}

.row_separator{
    width: 100%;
    height: 50px;
}

.img_logo_hdays17{
    vertical-align: text-top;
	max-width:160px; 
	padding-left:0px; 
	margin-top:8px;
	margin-left:40px;
}

.img_moto_rodada{
    width: 300px;
    margin-left: -70px;
    margin-top: 40px;
}

.img_talento_mobile  {
    width: 100%;
    padding-right: 20px;
}

.img_talento_desktop {
    width: 700px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.entran_gratis_top {
    margin-top: -25px;
}

.plusReglamento{
    margin-top: 75px;
}

html body { 
    height: 100%;
    margin: 0;
}

body { font-size: 16px;
    background-color: #000;    
    color: #5d5c59;
	font-family: 'Roboto', sans-serif;}
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; margin-bottom: 10px; color: #18150d; font-weight: 400; 
    font-family: 'Montserrat', sans-serif; text-transform: uppercase; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }
h1 { font-size: 32px; line-height: 42px; }
h2 { font-size: 24px; line-height: 32px; }
h3 { font-size: 18px; line-height: 28px; }
h4 { font-size: 16px; line-height: 24px; margin-bottom: 10px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
p { margin: 0 0 20px; }
p:last-child { margin-bottom: 0px; }
ul, ol { margin: 0; }
ul li, ol li { }
/*a { text-decoration: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }*/
a:focus, a:hover { text-decoration: none; color: #F07D00; }
 
b, strong {
    font-weight: 400;
}
.listnone { list-style: none; padding: 0px; }
.lead { font-size: 21px; color: #3c3c3c; font-weight: 400; }
.italic { font-style: italic; }
.small-text { color: #b4b1ac; font-size: 12px; }
.text-caps { text-transform: uppercase; letter-spacing: 2px; }
::selection { color: #F07D00; }
h3 small { font-weight: 400; line-height: 1; color: #aa9144; font-size: 14px; }
 
hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #f1f3f8; }
blockquote { padding: 10px 20px; margin: 0px; font-size: 21px; line-height: 32px; color: #3c3c3c; font-style: italic; border-left: 5px solid #aa9144; }

/*-------------- align ------------*/

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone { margin: 5px 20px 20px 0; }
.aligncenter, div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float: right; margin: 0px 0 30px 30px;  }
.alignleft { float: left; margin: 0px 30px 0px 0;   }
a img.alignright { float: right; margin: 0px 0 30px 30px; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%;    /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }

/*-----------------------------------
    2. Form css 
-----------------------------------*/
label { }
.control-label { color: #474747; font-weight: 700; font-size: 12px; text-transform: uppercase; }
.form-control { width: 100%; height: 50px; padding: 6px 12px; 
    font-size: 16px; line-height: 1.42857143; color: #333; background-color: #fff; border: 1px solid #dcd9d3; 
    background-image: none; border-radius: 10px; -webkit-box-shadow: inset 0 0px 0px rgba(255, 255, 255, .075); 
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .075); margin-bottom: 15px; }
.form-control:focus { border-color: #bab6ae;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .075), 0 0 8px rgba(255, 255, 255, .6);
    box-shadow: inset 0 3px 3px rgba(255, 255, 255, .075), 0 0 8px rgba(235, 237, 238, .6);
    background-color: #fffefd; }
.textarea.form-control { background-color: #f6f8f9; height: auto; }
.required { }
.form-news-letter .form-control { float: left; width: 75%; margin-right: 10px; }
.form-group { margin-bottom: 10px; }
.get-in-touch { }
.get-in-touch .form-control { margin-bottom: 10px; }

/*-----------------------------------
    3. Buttons 
-----------------------------------*/
.btn { display: inline-block; padding: 14px 30px; margin-bottom: 0; font-size: 13px; font-weight: 800; 
    letter-spacing: 1px; line-height: 1.42857143; text-align: center; border: none; 
    text-transform: uppercase; border-radius: 100px;font-family: 'Montserrat', sans-serif; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;}
.btn-default { color: #fff; background-color: #aa9144; }
.btn-default:hover { color: #fff; background-color: #8e7424; border-color: #8e7424; }
.btn-default.focus, .btn-default:focus { color: #fff; background-color: #8e7424; border-color: #8e7424; }
.btn-primary { background-color: #2d281a; color: #fff; }
.btn-primary:hover { background-color: #18150d; color: #fff; }
.btn-primary.focus, .btn-primary:focus { }
.btn-white { color: #aa9144; background-color: #fff; border: 1px solid #fff; }
.btn-white:hover { background-color: #8e7424; border-color: #8e7424; color: #fff; }
.btn-white.focus, .btn-white:focus { background-color: #8e7424; border-color: #8e7424; color: #fff; }
.btn-link { color: #98989c; text-transform: uppercase; font-size: 12px; font-weight: 700; letter-spacing: 2px; border-bottom: 1px solid #98989c; padding-bottom: 2px; }
.btn-link:hover { color: #fff; font-weight: 700; text-decoration: none; border-bottom: 1px solid #fff; }
.btn-lg { font-size: 14px; padding: 20px 30px; }
.btn-sm { font-size: 12px; padding: 5px 10px; }
.btn-xs { font-size: 12px; padding: 5px 7px; }

/*-----------------------------------
    4. General / Elements 
-----------------------------------*/

/*----------------------- 
    4.1 Section space :
-------------------------*/

/*Note: Section space help to create top bottom space;*/

.space-small { padding-top: 40px; padding-bottom: 40px; }
.space-medium { padding-top: 100px; padding-bottom: 100px; }
.space-large { padding-top: 120px; padding-bottom: 120px; }
.space-ex-large { padding-top: 140px; padding-bottom: 140px; }

/*----------------------
   4.2 Margin Space
-----------------------*/
.mb0 { margin-bottom: 0px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb60 { margin-bottom: 60px; }
.mb80 { margin-bottom: 80px; }
.mb100 { margin-bottom: 100px; }
.mt0 { margin-top: 0px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt60 { margin-top: 60px; }
.mt70 { margin-top: 70px; }
.mt80 { margin-top: 80px; }
.mt100 { margin-top: 100px; }

/*----- less margin space from top --*/
.mt-20 { margin-top: -20px; }
.mt-40 { margin-top: -40px; }
.mt-60 { margin-top: -60px; }
.mt-80 { margin-top: -80px; }

/*-----------------------
   4.3 Padding space
-------------------------*/
.nopadding { padding: 0px; }
.nopr { padding-right: 0px; }
.nopl { padding-left: 0px; }
.pinside10 { padding: 10px; }
.pinside20 { padding: 20px; }
.pinside30 { padding: 30px; }
.pinside40 { padding: 40px; }
.pinside50 { padding: 50px; }
.pinside60 { padding: 60px; }
.pinside80 { padding: 80px; }
.pinside130 { padding: 130px; }
.pdt10 { padding-top: 10px; }
.pdt20 { padding-top: 20px; }
.pdt30 { padding-top: 30px; }
.pdt40 { padding-top: 40px; }
.pdt60 { padding-top: 60px; }
.pdt80 { padding-top: 80px; }
.pdb10 { padding-bottom: 10px; }
.pdb20 { padding-bottom: 20px; }
.pdb30 { padding-bottom: 30px; }
.pdb40 { padding-bottom: 40px; }
.pdb60 { padding-bottom: 60px; }
.pdb80 { padding-bottom: 80px; }
.pdl10 { padding-left: 10px; }
.pdl20 { padding-left: 20px; }
.pdl30 { padding-left: 30px; }
.pdl40 { padding-left: 40px; }
.pdl60 { padding-left: 60px; }
.pdl80 { padding-left: 80px; }
.pdr10 { padding-right: 10px; }
.pdr20 { padding-right: 20px; }
.pdr30 { padding-right: 30px; }
.pdr40 { padding-right: 40px; }
.pdr60 { padding-right: 60px; }
.pdr80 { padding-right: 80px; }

/*--------------------------------
4.4 Background & Block color 
----------------------------------*/
.bg-light { background-color: #f4f1ec; }
.bg-primary { background-color: #aa9144; }
.bg-default { background-color: #f4f1ec; }
.bg-white { background-color: #fff; }
.outline { border: 1px solid #e5e7ec; }
.section-title { }
.title { color: #18150d; }
.small-title{color: #84837f; font-size: 13px; letter-spacing: 1px; margin-bottom: 20px;}
.text-white { color: #fff; }
.primary-sidebar { }
.secondary-sidebar { }
.well-block{background-color: #fff;padding: 40px;}

#hero-section-lugar{
    background-image: url(../assets/images/back_sede.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
	max-width: 1280px;
    margin: 0 auto;
}

#hero-section-talento_detalle{
    background-image: url(../assets/images/back_boletos.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
	max-width: 1280px;
    margin: 0 auto;
}

#hero-section-section2{
    background-image: url(../assets/images/back_boletos.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
	max-width: 1280px;
    margin: 0 auto;
}

#hero-section-boletos{
    background-image: url(../assets/images/back_boletos.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
	max-width: 1280px;
    margin: 0 auto;
}

#hero-section-rodada{
    background-image: url(../assets/images/Back_Rodada_.jpg);
    background-position: top;
	/*background-position-x: -160px;*/
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
	max-width: 1280px;
    margin: 0 auto;
}

#hero-section-reglamento{
    background-image: url(../assets/images/back_boletos.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
	max-width: 1280px;
    margin: 0 auto;
}

/*--------------------------------
4.5 Features Block 
----------------------------------*/
.feature { }
.feature-icon { margin-bottom: 20px; }
.feature-left { }
.feature-left .feature-icon { float: left; }
.feature-left .feature-content { padding-left: 80px; }
.feature-center { }
.feature-center .feature-icon { }
.feature-center .feature-content { }
.feature-inner { }
.feature-outline { }
.thumbnail-block { }
.thumbnail-img { }
.thumbnail-content { }
.thumbnail-inner { }
.thumbnail-outline { }

/*----------------- video ---------------*/
.video-section { position: relative; }
.video-img { position: relative; }
.video-img img { width: 100%; }
.video-action { position: absolute; top: 40%; left: 47%; }

/*--------------------------------
4.6 Bullet 
----------------------------------*/
.bullet { position: relative; padding-left: 15px; color: #78807e; line-height: 32px; }
.bullet-double-right li:before { font-family: FontAwesome; display: block; position: absolute; left: 0; width: 13px; font-size: 14px; color: #78807e; content: "\f101"; }

/*--------------------------------
4.7 Call to actions 
----------------------------------*/
.cta-block { }
.cta-title { font-size: 32px; font-weight: 700; letter-spacing: -1px; color: #fff; margin-bottom: 10px; }
.cta-text { font-size: 18px; color: #a2fed4; }
.cta-content { }
.cta-call, .cta-mail { }


.cta-section { 
    padding-top: 140px; padding-bottom: 140px; 
    background: linear-gradient(rgba(30, 28, 24, 0.8), rgba(30, 28, 24, 0.8)), rgba(30, 28, 24, 0.8) url(../images/cta-section-img.jpg) no-repeat center; background-size: cover; }
.cta-caption {  }
.cta-title { font-size: 36px; color: #fff; line-height: 58px; font-weight: 600; margin-bottom: 10px; letter-spacing: -1px; }
.cta-text { font-size: 18px; color: #fff; margin-bottom: 30px; }

/*--------------------------------
4.8 Image Hover Effect 
----------------------------------*/
.imghover { display: block; position: relative; max-width: 100%; }
.imghover::before, .imghover::after { display: block; position: absolute; content: ""; text-align: center; opacity: 0; }
.imghover::before { top: 0; right: 0; bottom: 0; left: 0; }
.imghover::after { top: 50%; left: 50%; width: 50px; height: 50px; line-height: 50px; margin: -25px 0 0 -25px; content: "\f2a8"; font-family: "FontAwesome"; font-size: 36px; }
.imghover:hover::before, .imghover:hover::after { opacity: 1; }
.imghover:hover::before { background: rgba(212, 27, 44, .55); }
.imghover:hover::after { color: #FFFFFF; }
[class^='imghvr-'], [class*=' imghvr-'] { background: rgba(211, 0, 80, .55); }

/*--------------------------------
4.9 Icon 
----------------------------------*/
.icon { }
.icon-1x { font-size: 18px; }

/* default icon size of font*/
.icon-2x { font-size: 38px; }
.icon-4x { font-size: 65px; }
.icon-6x { font-size: 88px; }
.icon-8x { font-size: 108px; }
.icon-default { color: #aa9144; }
.icon-primary { color: #474954; }
.icon-secondary { color: #fff; }
.icon-white { color: #fff; }

/*--------------------------------
5 Header / Navigations 
----------------------------------*/

/*--------------------
    5.1 Header Regular 
   ----------------------*/

.logo { padding: 12px 0 0 15px; }
.header { background-color: #000; z-index: 9999; position: relative; padding-top: 4px; padding-bottom: 10px; margin: 0 auto; max-width: 1280px;}
.top-text { text-align: right; }
.top-text .text-block { padding-left: 20px; color: #fff; line-height: 18px; }
.call-block { }
.call-no { }
.mail-block { }
.mail-text { }
.time-block { }
.time-text { }
.call-block, .mail-block, .time-block { }

/*--------------------------
    5.2 Navigations Regular
   ----------------------------*/
.hero-section { padding-top: 0px; padding-bottom: 0px; /* The image used */
  
    /* Full height */
    height: 100%; 

   background-repeat: no-repeat; 
}
.programa_naranja{
  
    background-image: url('../assets/images/back_programa_naranja.jpg');
	background-position: bottom center; 
	background-size: auto;
	min-height: 1000px;
}
.programa_negro{
  
    background-image: url('../assets/images/back_programa_negro.jpg');
	background-position: top center; 
	background-size: auto;
	background-color: #000;
	padding-bottom: 50px;
	min-height: 1200px;
}
.programa_emocion{
  
    background-image: url('../assets/images/back_programa_emocion.jpg');
	background-position: top center; 
	background-size: auto;
}

.landing_menu{
    width: 0;    
    z-index: 1;
    background-image: url("../assets/images/back_menu_movil.jpg");
    height: 100%;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    text-align: center;
    position: fixed;
    padding-top: 20px;
    overflow: hidden;
    transition: 0.5s;
    right: 0;
}

.img_down{
    width: 40px;    
}

.hero-caption { padding-top: 100px; padding-bottom: 100px; }
.hero-title { font-size: 46px; color: #fff; line-height: 58px; font-weight: 600; margin-bottom: 30px; letter-spacing: -1px; }
.hero-text { font-size: 18px; color: #fff; margin-bottom: 30px; }
.navigation { float: right; }
.is-sticky .header {border-bottom: 0px solid #eae7e2;}
#navigation, #navigation ul, #navigation ul li, #navigation ul li a, #navigation #menu-button { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1.18em; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#navigation:after, #navigation > ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
#navigation #menu-button { display: none; }
#navigation { font-family: 'Montserrat', sans-serif; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;}
#navigation > ul > li { float: left; }
#navigation.align-center > ul { font-size: 0; text-align: center; }
#navigation.align-center > ul > li { display: inline-block; float: none; }
#navigation.align-center ul ul { text-align: left; }
#navigation.align-right > ul > li { float: right; }
#navigation > ul > li > a { padding: 31px 20px 20px 20px;  }
#navigation > ul > li:hover > a { color: #F07D00; background-color: #aa9144; }
#navigation > ul > li.has-sub > a { padding-right: 32px; }

#navigation .btn_sel{
	color: #F07D00;
}

/*#navigation > ul > li.has-sub > a:after {
 position: absolute;
 top: 22px;
 right: 11px;
 width: 8px;
 height: 2px;
 display: block;
 background: #dddddd;
 content: '';
}*/
#navigation > ul > li.has-sub > a:before { position: absolute; right: 14px; font-family: FontAwesome; content: "\f107"; /*-webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;*/ }

/*#navigation > ul > li.has-sub:hover > a:before {
 top: 23px;
 height: 0;
}*/
#navigation ul ul { position: absolute; left: -9999px; }
#navigation.align-right ul ul { text-align: right; }
#navigation ul ul li { height: 0; /*-webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; */}
#navigation li:hover > ul { left: auto; }
#navigation.align-right li:hover > ul { left: auto; right: 0; }
#navigation li:hover > ul > li { height: 46px; }
#navigation ul ul ul { margin-left: 100%; top: 0; }
#navigation.align-right ul ul ul { margin-left: 0; margin-right: 100%; }
#navigation ul ul li a { padding: 16px; width: 170px; font-size: 13px; text-decoration: none; color: #fff; font-weight: 500; background: #aa9144; text-transform: uppercase; border-bottom: 1px solid #987e2e; }
#navigation ul ul li:last-child > a, #navigation ul ul li.last-item > a { border-bottom: 0; }
#navigation ul ul li:hover > a, #navigation ul ul li a:hover { color: #ffffff; background-color: #aa9144; }
#navigation ul ul li.has-sub > a:after { position: absolute; top: 16px; right: 11px; width: 8px; height: 2px; display: block; background: #dddddd; content: ''; }
#navigation.align-right ul ul li.has-sub > a:after { right: auto; left: 11px; }
#navigation ul ul li.has-sub > a:before { position: absolute; top: 13px; right: 14px; display: block; width: 2px; height: 8px; background: #dddddd; content: '';/* -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;*/ }
#navigation.align-right ul ul li.has-sub > a:before { right: auto; left: 14px; }
#navigation ul ul > li.has-sub:hover > a:before { top: 17px; height: 0; }
#navigation.small-screen { width: 100%; margin-left:50px; }
#navigation.small-screen ul { display: none; }
#navigation.small-screen.align-center > ul { text-align: left; }
#navigation.small-screen ul li { width: 100%; border-top: none; }
#navigation.small-screen ul ul li, #navigation.small-screen li:hover > ul > li { height: auto; }
#navigation.small-screen ul li a, #navigation.small-screen ul ul li a { width: 100%; border-bottom: 0; padding: 20px 10px; }
#navigation.small-screen > ul > li { float: none; }
#navigation.small-screen ul ul li a { padding-left: 25px; }
#navigation.small-screen ul ul ul li a { padding-left: 35px; }
#navigation.small-screen ul ul li a { color: #474747; background: none; }
#navigation.small-screen ul ul li:hover > a, #navigation.small-screen ul ul li.active > a { color: #474747; }
#navigation.small-screen ul ul, #navigation.small-screen ul ul ul, #navigation.small-screen.align-right ul ul { position: relative; left: 0; width: 100%; margin: 0; text-align: left; }
#navigation.small-screen > ul > li.has-sub > a:after, #navigation.small-screen > ul > li.has-sub > a:before, #navigation.small-screen ul ul > li.has-sub > a:after, #navigation.small-screen ul ul > li.has-sub > a:before { display: none; }
#navigation.small-screen #menu-button {display: block; padding: 15px; color: #474747; cursor: pointer; font-size: 0px;
   text-transform: uppercase; font-weight: 700; margin-top: -54px;float: right;width: 15%; margin-right:15px;}
#navigation.small-screen #menu-button:after { position: absolute; top: 16px; right: 17px; display: block; height: 12px; width: 20px; border-top: 2px solid #fff; border-bottom: 2px solid #fff; content: ''; }
#navigation.small-screen #menu-button:before { position: absolute; top: 21px; right: 17px; display: block; height: 2px; width: 20px; background: #fff; content: ''; }
#navigation.small-screen #menu-button.menu-opened:after { top: 12px; border: 0; height: 2px; width: 15px; background: #fff; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); margin-right:4px; }
#navigation.small-screen #menu-button.menu-opened:before { top: 12px; background: #fff; width: 15px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); margin-right:4px; }
#navigation.small-screen .submenu-button { position: absolute; z-index: 99; right: 0; top: 0; display: block; border-left: 1px solid #474747; height: 53px; width: 53px; cursor: pointer; }
#navigation.small-screen .submenu-button.submenu-opened { }
#navigation.small-screen ul ul .submenu-button { height: 34px; width: 34px; }
#navigation.small-screen .submenu-button:after { position: absolute; top: 22px; right: 20px; width: 8px; height: 2px;
 display: block; background: #474747; content: ''; }
#navigation.small-screen ul ul .submenu-button:after { top: 15px; right: 13px; }
#navigation.small-screen .submenu-button.submenu-opened:after { background: #474747; }
#navigation.small-screen .submenu-button:before { position: absolute; top: 19px; right: 23px; display: block;
 width: 2px; height: 8px; background: #474747; content: ''; }
#navigation.small-screen ul ul .submenu-button:before { top: 12px; right: 16px; }
#navigation.small-screen .submenu-button.submenu-opened:before { display: none; }
#navigation.small-screen.select-list { padding: 5px; }

.small-screen-row img {
    width: 100%;
}

.controles_sociales{
	display: block;
	font-family: h_dletterpress_webfont;
    text-transform: uppercase;
    font-size: 1.0em;
	margin: 37px 15px 0px 0;
    padding: 0;
    list-style: none;
    line-height: 1.18em;
	color: #999;
}
.controles_sociales li{
	cursor: pointer;
	position: relative;
	float: right;
	display: block;
    padding: 0 0 0 8px;
    border: 0;
}
.controles_sociales li:hover{
	color:#F07D00;
}
#logos_social{
	display: none;
	list-style-type: none; 
	margin: 0;
	padding: 5px 15px 0px 0px;
	clear:both;
}
#logos_social li{
	float: right;
	margin: 0px 0px 0px 5px;
}
#logos_share{
	display: none;
	list-style-type: none; 
	margin: 0;
	padding: 5px 12px 0px 0px;
	clear:both;
}
#logos_share li{
	float: right;
	margin: 0px 0px 0px 10px;
}



.open{
	background-image:url('../assets/images/Terxtura_Submenu.jpg');
	background-repeat:no-repeat;
	background-size:100%;
	margin-top: 10px !important;
	margin-left: -65px !important;
	min-height: 500px !important;
}


/*----------------------------------------------
    5.4 Page Header
----------------------------------------------*/
.page-header { background: linear-gradient(rgba(36, 39, 38, 0.5), rgba(36, 39, 38, 0.5)), rgba(36, 39, 38, 0.5) url(../images/page-header.jpg) no-repeat center; background-size: cover; margin: 0; border-bottom: none; padding-bottom: 0px; }
.page-caption { padding: 120px 0px; position: relative; z-index: 1; color: #fff; text-align: center; }
.page-title { color: #fff;  font-size: 40px; font-weight: 400; letter-spacing: -1px; }
.breadcrumb { }
.breadcrumb>.active { }
.page-breadcrumb {   }
.page-breadcrumb .breadcrumb { background-color: transparent; margin-bottom: 0px; font-size: 12px; text-transform: uppercase; }

/*-----------------------------------
    6. slider-lugar 
-------------------------------------*/

/*-----------------------------------
7. Content 
-------------------------------------*/

.content { padding-top: 60px; padding-bottom: 60px; }
.share{
	padding-bottom:20px;
	background-color:#999;
}
.share_texto{
    font-family: h_dletterpress_webfont;
    font-size: 2.4em;
    color: #FFF;
    text-align: right;
	vertical-align: -webkit-baseline-middle;
}

/*-----------------------------------
8. Footer 
-------------------------------------*/
.footer { background-color: #000; padding-top: 0px; padding-bottom: 0px; position: relative; bottom: 0px; width: 100%; background-position: top center; background-image: url('../assets/images/Down_Solo.png'); background-repeat: no-repeat; background-size:7%; }
.footer p{ padding-left: 15px; font-size: 0.7em; line-height:1.2em; }
.copyright-content { margin: 40px 0; color: #999; text-align:left; display: block;  }
.copyright-content-right { padding: 12px 0px; color: #999; text-align:right; line-height:0px; display:block; }
.footer_ticketmaster{ display: block;}
.footer .container{ width: auto; max-width: 1280px;}
.footer-block{/*background-color: #282725;padding: 40px 40px 10px 40px; border-radius: 10px;*/}
.footer-widget p { color: #fff; }
.footer-widget .widget-title { color: #fff; font-weight: 600; padding-bottom: 20px; margin-bottom: 30px; }
.footer-widget { }
.footer-widget ul { }
.footer-widget li { }
.footer-widget li a { color: #747474; line-height: 34px; }
.footer-widget li a:hover { color: #aa9144; }
.footer-link { }
.footer-social { }
.footer-social ul { }
.footer-social ul li { }
.footer-social ul li a i { padding-right: 10px; width: 30px; }
.footer-social ul li a:hover i { color: #aa9144; }
.footer .contact li { position: relative; padding-left: 40px; display: block; margin-bottom: 8px; padding: 0 0 8px 40px; color: #747474; }
.footer .contact li i { display: block; position: absolute; top: 5px; left: 0; width: 30px; 
    font-size: 16px; text-align: center; }
.widget-newsletter .form-control { height: 48px; color: #eee; background-color: #393836; border: none; box-shadow: none; 
    font-size: 14px; border-radius: 30px 0px 0px 30px;}
.widget-newsletter button { height: 48px; }

/*-------------- tiny footer ------------*/
.tiny-footer {  padding-top: 19px; padding-bottom: 12px; 
    color: #56575e;  text-transform: uppercase; text-align: center; }
.footer_img_social {width: 12%;}

/*-----------------------------------
9. Pages 
-------------------------------------*/

/*-------------------------
 9.1 About us
---------------------------*/

.about-text { line-height: 40px; }
.about-block { }
.about-img { }
.about-info { }
.about-contact { font-size: 18px; color: #8c9292; font-weight: 600; margin-left: 5px; }
.counter_block { }
.counter_box { border-bottom: 1px solid #eee; padding: 40px 0px; }
.counter_number { font-weight: 900; margin-bottom: 0px; }
.counter_text { font-size: 12px; text-transform: uppercase; letter-spacing: 2px; }

/*-------------------------
 9.2  Service / single / sidebar
--------------------------*/

/* service section */

.service-block { margin-bottom: 30px; }
.service-img { margin-bottom: 30px; }
.service-img img { width: 100%; }
.service-caption { }
.service-title { font-size: 20px; color: #212330; text-transform: uppercase; text-align: center; letter-spacing: 1px; }
.service-icon { }
.service-icon img { }
.service-single-block { }
.service-single-img { }
.service-single-content { }
.price{font-size: 24px; color: #aa9144; font-weight: 600; font-family: 'Montserrat', sans-serif;}

/*-----------------------------------------
    service side-nav
   ------------------------------------------*/
.sidenav { background-color: #fff; margin-bottom: 30px; }
.sidenav li { position: relative; }
.sidenav li:last-child { margin-bottom: 0px; }
.sidenav li a { display: block; line-height: 14px; color: #2b2d2c; 
    font-weight: 500; font-size: 14px; background-color: #dfddd7; padding: 20px; margin-bottom: 1px; text-transform: uppercase;font-family: 'Montserrat', sans-serif;}
.sidenav li a:hover { color: #fff; background-color: #aa9144; }
.sidenav li a.active, .sidenav ul li a.active .sidenav ul li i { color: #fff; background-color: #aa9144; }
.sidenav li a:focus { color: #bb0349; }
.sidenav li.active a:before { color: #bb0349; }

/*.sidenav li a:before { margin-right: 10px; font-family: FontAwesome; position: absolute; width: 20px; font-size: 12px; color: #7d7f89; content: "138"; left: 10px; }
.sidenav li a:hover:before { color: #bb0349; }*/
.arrow-circle-right li:last-child { border-bottom: 0px solid #6f4a52; }
.arrow-circle-right li a:before { margin-right: 10px; font-family: FontAwesome; position: absolute; left: 20px; width: 20px; font-size: 16px; color: #5a5a5a; content: "\f105"; font-weight: normal; }

/*--------------------------
  9.5  Testimonial
---------------------------*/
.quote-left { position: absolute; font-size: 100px; font-family: 'Libre Baskerville', serif; font-style: normal; color: #aa9144; line-height: 0px; top: 52px; }
.testimonial-block {margin-bottom: 40px; }
.testimonial-img { }
.testimonial-img img { }
.testimonial-content { margin-bottom: 30px; }
.testimonial-info { line-height: 1; }
.testimonial-text { font-size: 21px; font-style: italic; line-height: 32px; color: #333333; }
.testimonial-name { font-size: 18px; font-weight: 600; margin-bottom: 10px; }
.testimonial-meta { font-size: 13px; text-transform: uppercase;color: #aa9144; padding-right: 10px; font-weight: 400; }

/*-------------------------
  9.8 Contact us
---------------------------*/
.contact-block { }
.contact-block ul { }
.contact-block ul li { border: 1px solid #f1f2f4; padding-top: 30px; padding-bottom: 30px; }
.contact-block ul li i { color: #aa9144; float: left; padding: 0px; }
.contact-block .contact-text { }
.contact-info { background-color: #cda34d; color: #fff; }
.contact-info ul { padding-left: 0px; }
.contact-info li { position: relative; padding-left: 70px; margin-bottom: 30px; border-bottom: 1px solid #b69042; padding-bottom: 29px; }
.contact-info li:last-child { border-bottom: none; }
.contact-info li i { display: block; position: absolute; left: 0;    /* font-size: 50px; */    /* text-align: center; */
color: #fff;    /* bottom: 0px; */ }
.map { height: 400px; }
.contact-social { text-align: center; }
.contact-social { }
.contact-social a i { height: 32px; width: 32px; border-radius: 50px; background-color: #8e7424; text-align: center; padding: 7px; line-height: 1.2; font-size: 14px; color: #c12d17; }
.contact-social a i:hover { color: #8e7424; }
address { margin-bottom: 20px; font-style: normal; line-height: 1.42857143; }

/*------------------------
 10. Blog pages
--------------------------*/
.content { }
.sidebar { }
.post-block, .post-quote{ position: relative; background-color: #f4f1ec; padding: 30px; border-radius: 10px;  margin-bottom: 30px;}
 
/*-- use for thumbnail --*/
.post-holder { position: relative; margin-bottom: 30px; }
/*-- for single post page --*/
.post-img { position: relative; }
.post-img img{border-radius: 10px; width: 100%;}
.post-title { }
.post-content {padding-top: 40px; padding-right: 40px;}
.post-header { }

/*-------- Post meta --------*/
.meta { font-size: 12px; text-transform: uppercase; margin-bottom: 20px; font-family: 'Montserrat', sans-serif;}
.meta-date { }
.meta-user { }
.meta-comment { }
.meta-author { }
.meta-cat { }
.meta-date, .meta-author, .meta-comment, .meta-cat { display: inline-block; margin-right: 10px; }
.meta-link { }
.meta-tags { }

/*-------- Post Type --------*/
.post-sticky { background: url(../images/sticky.png) no-repeat; position: absolute; right: 35px; bottom: 35px; width: 30px; height: 30px; color: #fff; }
.post-gallery { }
.post-video { }
.post-video .video-sign { }
.post-audio {}
.post-quote {background-color: #aa9144; }
.quote-content{}
.post-quote blockquote{color: #fff; font-size: 34px; line-height: 42px;}
/*-------- Related Post --------*/
.related-post-block { border-top: 1px solid #eee; padding-top: 29px; margin-top: 30px; margin-bottom: 30px; }
.related-post {margin-bottom: 30px; }
.related-post-title { }
.related-post-img { margin-bottom: 30px; }
.related-post-img img{border-radius: 10px;}
/*----- Prev Next Post -----*/
.post-navigation { margin-bottom: 30px; }
.nav-previous, .nav-next { border: 1px solid #f4f1ec; padding: 20px; }
.nav-previous { }
.nav-next { }
.prev-post { }
.next-post { }
.prev-link { }
.next-link { }
.prev-link, .next-link { margin-bottom: 10px; display: block; text-transform: uppercase; font-size: 12px; }

/*----- Author Post -----*/
.author-post { margin-bottom: 30px; background: #f4f1ec; padding: 30px; border-radius: 10px; }
.author-img { }
.author-title { }
.author-img img { width: 100%; border-radius: 10px; }
.author-bio { }
.author-meta { }
.author-name { }
.author-header { }
.author-detail { }
.author-link { }
.author-social { }
.author-social ul { }
.author-social ul li { }
.author-social ul li a { }
.author-social ul li a:hover { }
.author-info { }

/*------------- Post Pagination -------------*/
.st-pagination { }
.st-pagination .pagination>li>a, .pagination>li>span { position: relative; float: left; margin-left: -1px; line-height: 1.42857143; color: #3c3c3c; text-decoration: none; 
    font-size: 12px; background-color: #fff; 
    font-weight: 700; text-transform: uppercase; margin-right: 5px; 
    margin-bottom: 5px; padding: 8px 13px; border: 1px solid #efefef; border-radius: 100%; }
.st-pagination .pagination>li>a:focus, .st-pagination .pagination>li>a:hover, .st-pagination .pagination>li>span:focus, .st-pagination .pagination>li>span:hover, .st-pagination .pagination>li>a.active { z-index: 2; color: #fff; background-color: #aa9144; border: 1px solid #f4f1ec; }
.st-pagination .pagination>li:first-child>a, .st-pagination .pagination>li:first-child>span { margin-left: 0; border-radius: 100%; }
.st-pagination .pagination>li:last-child>a, .st-pagination .pagination>li:last-child>span { border-radius: 100%; }
.st-pagination .pagination>.active>a, .st-pagination .pagination>.active>a:focus, .st-pagination .pagination>.active>a:hover, .st-pagination .pagination>.active>span, .st-pagination .pagination>.active>span:focus, .st-pagination .pagination>.active>span:hover { z-index: 3; color: #fff; cursor: default; background-color: #aa9144;border: 1px solid #aa9144;}

/*------------------------
  12. Sidebar / Widgets
--------------------------*/

/*----- widget -----*/

.widget { margin-bottom: 10px; background-color: #f4f1ec; padding: 30px; border-radius: 10px; }
.widget-title { margin-bottom: 20px; }
.widget ul { }
.widget ul li { margin-bottom: 16px; line-height: 18px;}
.widget ul li:last-child { margin-bottom: 0px; }
.widget ul li a { color: #474747; }
.widget ul li a.active { color: #aa9144; }
.widget ul li a:hover { color: #aa9144; }
.widget-search { }
.widget-search .input-group-addon { color: #fff; text-align: center; background-color: #aa9144; border: 1px solid #aa9144; border-left: transparent; }
.widget-categories { }
.widget-categories ul { }
.widget-categories ul li { }
.widget-categories ul li a { }
.widget-archives { }
.widget-archives ul { }
.widget-archives ul li { }
.widget-archives ul li a { }
ul.widget-recent-post { }
.widget-recent-post li { margin-bottom: 10px; border-bottom: 1px solid #cecbc7;  padding-bottom: 10px;}
.widget-recent-post li:last-child{border-bottom: 1px solid transparent;}
.widget-recent-post ul li a {}
.widget-recent-post .meta{margin-bottom: 0px;}
.recent-post-img {margin-bottom: 20px; }
.recent-post-content { }
.recent-title{font-size: 12px; line-height: 18px;}

.widget-tags { }
.widget-tags a { border: 1px solid #cecbc7; padding: 2px 10px; display: inline-block; background-color: #fff; 
    font-size: 12px; text-transform: uppercase; margin-bottom: 5px; margin-right: 3px; border-radius: 50px; color: #18150d; }
.widget-tags a:hover { background-color: #aa9144; color: #fff;  border: 1px solid #aa9144; }
.widget-text { }
.widget-contact { }
.widget-social { }
.social-circle a { height: 33px; width: 33px; background-color: #aa9144; color: #fff; border-radius: 100%; padding: 5px; display: inline-block; text-align: center; margin-right: 10px; }
.social-circle a:hover { background-color: #8e7424; }
.widget-call-to-action{background-color: #eddba5;}
.widget-call-to-action .widget-title{font-size: 20px; font-weight: 400; margin-bottom: 20px; line-height: 28px;}
.widget-call-to-action p{font-size: 18px; color: #18150d;}
.team-block { margin-bottom: 20px; }
.team-img { margin-bottom: 20px; }
.team-content { text-align: center; }
.team-title { margin-bottom: 0px; }
.team-name { }
.team-meta { text-transform: uppercase; font-size: 12px; color: #aa9144; font-weight: 500; letter-spacing: 1px; }
.team-designation { }

/*----- Comment Post -----*/
.comments-area { }
.comments-title { border-bottom: 1px solid #f4f1ec; padding-bottom: 20px; margin-bottom: 30px; }
.comment-list { list-style: none;  padding: 0px;}
.comment { }
.comment-body { margin-top: 20px; margin-bottom: 30px; border-bottom: 1px solid #f4f1ec; padding-bottom: 20px; }
.comment-author { }
.comment-author img { float: left; }
.comment-info { padding-left: 120px; }
.comment-header { margin-bottom: 0px; }
.user-title { font-size: 15px; color: #474747; margin-bottom: 10px; font-weight: 500; }
.comment-meta { }
.comment-meta-date { color: #98989c; font-size: 12px; text-transform: uppercase; letter-spacing: 1px; font-weight: 500; }
.comment-content { color: #6f6f6f; margin-bottom: 20px; }
.reply { }

/*---- thread comments --------*/
.childern { padding-left: 100px; list-style: none; }
.childern .comment-body { background-color: #f4f1ec; padding: 20px; border-radius: 10px; }
.childern .comment-info { padding-left: 120px; }

/*----- Leave Reply -----*/
.leave-comments { margin-top: 30px; background-color: #f4f1ec; padding: 40px; border-radius: 10px;}
.leave-comments .control-label { color: #474747; font-weight: 600; font-size: 13px; }

/*--------------------------------
 Extra Plugin CSS - Back to top  
---------------------------------*/
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(212, 27, 44, 100) url(../images/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0; -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s; transition: opacity .3s 0s, visibility 0s .3s; }
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover { -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s; transition: opacity .3s 0s, visibility 0s 0s; }
.cd-top.cd-is-visible {    /* the button becomes visible */
visibility: visible; opacity: 1; }
.cd-top.cd-fade-out {    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
opacity: .5; }
.no-touch .cd-top:hover { background-color: #e70359; opacity: 1; }

/*-------------styleguide-------------*/
.box-info { }
.box-default-color { background-color: #aa9144; height: 160px; width: 160px; }
.box-primary-color { background-color: #18150d; height: 160px; width: 160px; }
.box-heading-color { background-color: #18150d; height: 160px; width: 160px; }
.box-secondary-color { background-color: #6f6f6f; height: 160px; width: 160px; }
.box-bg-color { background-color: #eddba5; height: 160px; width: 160px; }

/*==========  Non-Mobile First Method  ==========*/

.content-left-lugar{
    float: left;width: 100%;
	padding-bottom:0px;
}

.content-right-lugar{
    float: right;width: 100%;
}

.content-left-zonaharley{
    float: left;width: 100%;
    padding-left: 10px;
    padding-bottom: 30px;
}

.content-right-zonaharley{
    float: left;width: 100%;
    padding-bottom:0px;
}

.content-left-boletos{
    float: left;
	width: 100%;
    padding-bottom:0px;
	padding-left: 10px;
}

.content-right-boletos{
    float: left;width: 100%;
    padding-bottom:0px;
}

.content-left-reglamento{
    float: left;
	width: 100%;
    padding-bottom:0px;
	padding-left: 10px;
}

.content-right-reglamento{
    float: left;width: 100%;
    padding-bottom:0px;
}

.content-left-talento_detalle{
    float: left;
	width: 100%;
    padding-bottom:0px;
	padding-left: 10px;
}

.content-right-talento_detalle{
    float: left;width: 100%;
    padding-bottom:0px;
	padding-left: 10px;
}

#close_button_menu{
    text-align: right;
    padding-right: 30px;
}

/* Video Intro */
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  /*z-index: 100;*/
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 0%;
  width: 32%;
  color: #fff;
  background: rgba(0,0,0,0.3);
  margin:30%;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

.video-container button:hover { 
   background: rgba(0,0,0,0.5);
}
/* End Video intro*/


    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
     .navigation { float: none; }
     .hero-title {font-size: 25px; line-height: 40px;}
     .hero-section {padding-top: 0px; padding-bottom: 0px;}
     .comment-info {padding-left: 100px;}
     .cta-title {font-size: 26px; line-height: 40px;}
     .cta-section {padding-top: 50px; padding-bottom: 50px;}
     .footer-widget {margin-bottom: 20px;}
     .footer-widget .widget-title {margin-bottom: 0px;}
     .page-title {font-size: 20px;}
     .page-caption {padding: 80px 0px;}
     .childern .comment-info {padding-left: 90px;}
     .childern {padding-left: 0px; list-style: none;}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
     .navigation { float: none; }
     .hero-title {font-size: 25px; line-height: 40px;}
     .hero-section {padding-top: 0px; padding-bottom: 0px;}
     .comment-info {padding-left: 100px;}
     .cta-title {font-size: 26px; line-height: 40px;}
     .cta-section {padding-top: 50px; padding-bottom: 50px;}
     .footer-widget {margin-bottom: 20px;}
     .footer-widget .widget-title {margin-bottom: 0px;}
     .page-title {font-size: 20px;}
     .page-caption {padding: 80px 0px;}
     .childern .comment-info {padding-left: 90px;}
     .childern {padding-left: 0px; list-style: none;}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
     .navigation { float: none; }
     .hero-title {font-size: 25px; line-height: 40px;}
     .hero-section {padding-top: 80px; padding-bottom: 0px;}
	.programa_naranja{
		background-size: cover;
	}
	.programa_negro{
		background-size: cover;
		padding-bottom: 150px;
	}
	.programa_emocion{
		background-size: cover;
	}		
	.row_inner {
		margin-top: 10px;
	}
     #hero-section-lugar {padding-top: 80px; padding-bottom: 80px;}
     #hero-section-boletos {padding-top: 80px; padding-bottom: 80px;}
     #hero-section-rodada {padding-top: 80px; padding-bottom: 80px;}
     #hero-section-reglamento {padding-top: 80px; padding-bottom: 80px;}
     .hero-section {padding-top: 80px; padding-bottom: 80px;}

     .content-left-lugar {width: 45%; padding-bottom:50px;}
     .content-right-lugar {width: 55%; padding-top:10px;}

     /*.content-left-zonaharley  {width: 50%;}
     .content-right-zonaharley {width: 50%;}*/

     .content-left-boletos {width: 50%; padding-bottom:50px;}
     .content-right-boletos {width: 50%}

     .text_decoration_legal{font-size: 0.9em;}

     .slider-lugar {padding-top: 10px;}
     .comment-info {padding-left: 100px;}
     .cta-title {font-size: 26px; line-height: 40px;}
     .cta-section {padding-top: 50px; padding-bottom: 50px;}
     .footer-widget {margin-bottom: 20px;}
     .footer-widget .widget-title {margin-bottom: 0px;}
     .page-title {font-size: 20px;}
     .page-caption {padding: 80px 0px;}
     .childern .comment-info {padding-left: 90px;}
     .childern {padding-left: 0px; list-style: none;}
     .text_decoration_small{line-height: 20px; font-size: 1.0em; background-size: 20px; background-position: 0%;}
     .text_decoration_medium {font-size: 1.5em; background-size:30px;}
     .text_decoration_high {font-size: 2.5em;}
     .global_inner{margin-top: -50px;}
     .ver_mas img {width: 40%;}
     .top {margin-top: 20px;}
     #top_emocion{margin-top: 0px !important;}
     .img_logo_hdays17{width: 140px;margin-left: 40px;padding-left: 0px;}     
	 .footer { position: fixed; bottom: 0px;}
     .header { position: fixed; top: 0px;}
     .text-section-rodada{font-size: 4.0em;margin-top: -50px;}
     .text-section-rodada-right{display: none;}
     .copyright-content { text-align:left; font-size: 7px; padding: 30px 0px 30px 0px; }
     .copyright-content p{ margin: 0 0 10px; }
     .footer_img_social { width: 30%; }
     .row_inner_talento { margin-top: 80px; }
     .img_down{ width: 36px;}
	 .logo { padding: 12px 0 0 0px; }
     .custom_text {font-size: 1.4em !important;}
     .title_program{font-size: 2.0em;}
     .date_text{font-size: 2.5em !important;}
     .entran_gratis_top {margin-top: -10px;}
     .text_decoration_small_bandas_normal{padding-right: 20px; padding-bottom: 10px;}
     #link_conciertos{margin-top: -50px;}
     .plusReglamento{margin-top: 45px;}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
     .navigation { float: none; }
     .hero-title {font-size: 25px; line-height: 40px;}
     .hero-section {padding-top: 0px; padding-bottom: 0px;}
	.programa_naranja{
		background-size: cover;
	}
	.programa_negro{
		background-size: cover;
		padding-bottom: 150px;
	}
	.programa_emocion{
		background-size: cover;
	}
     #hero-section-lugar {padding-top: 80px; padding-bottom: 80px;}
     #hero-section-boletos {padding-top: 80px; padding-bottom: 80px;}
     #hero-section-rodada {padding-top: 80px; padding-bottom: 80px;}
     #hero-section-reglamento {padding-top: 80px; padding-bottom: 80px;}
     #hero-section-talento_detalle {padding-top: 80px; padding-bottom: 80px;}
     .hero-section {padding-top: 90px; padding-bottom: 30px;}
     .content-left-lugar {width: 45%; padding-bottom:50px;}
     .content-right-lugar {width: 55%; padding-top:10px;}
     /*.content-left-zonaharley  {width: 50%;}
     .content-right-zonaharley {width: 50%;}*/
     .content-left-boletos {width: 50%; padding-bottom:50px; padding-left:0px;}
     .content-right-boletos {width: 50%}
     .text_decoration_legal{font-size: 0.9em; line-height: 1.4em;}
     .slider-lugar {padding-top: 10px;}
     .comment-info {padding-left: 100px;}
     .cta-title {font-size: 26px; line-height: 40px;}
     .cta-section {padding-top: 50px; padding-bottom: 50px;}
     .footer-widget {margin-bottom: 20px;}
     .footer-widget .widget-title {margin-bottom: 0px;}
     .copyright-content { text-align:left; font-size: 7px; padding: 0px; }
     .copyright-content p{ margin: 0 0 10px; }
     .footer_img_social { width: 30%; }
	 .page-title {font-size: 20px;}
     .page-caption {padding: 80px 0px;}
     .childern .comment-info {padding-left: 90px;}
     .childern {padding-left: 0px; list-style: none;}
     .text_decoration_small{line-height: 20px; font-size: 0.9em; padding-right:0px;}
	.text_decoration_small_titulo{
		font-size: 1.3em;
	}
     .text_decoration_medium {font-size: 1.4em;}
     .text_decoration_high {font-size: 2.5em;}
     .global_inner{margin-top: 20px;}
     .ver_mas img {width: 40%;}
     .top {margin-top: 20px;}
     #top_emocion{margin-top: -85px !important;}
	 .logo { padding: 12px 0 0 0px; }
     .img_logo_hdays17{width: 140px;margin-left: 40px;padding-left: 0px; margin-top:10px;} 
	.share{
		padding-bottom:70px;
	}
	.share_texto{
		font-size:1.4em;
	}
	 .footer{
		 background-size:20%;
		}
	 .footer { position: fixed; bottom: 0px;}
		#logos_social{
			display: none;
		}
	.footer p{ padding: 0px; font-size: 1.3em; line-height:1.4em; }
	.controles_sociales{
		display: none;
	}
    .header { position: fixed; top: 0px;}
    .text-section-rodada{font-size: 4.0em;margin-top: -50px;}
    .text-section-rodada-right{display: none;}
    .row_inner_talento { margin-top: 80px; }
		.inicio{
			display: block !important;
		text-align: right;
		font-size:1.9em;
		font-stretch:expanded !important;
		padding-right:25px !important;
		}
	.inicio a{
		color: #000;
	}
	.prog {
		text-align: right;
		font-size:1.9em;
		font-stretch:expanded !important;
		padding-right:25px !important;
	}
	.prog a{
		color: #000;
	}
	.talen {
		text-align: right;
		font-size:1.9em;
		font-stretch:expanded !important;
		padding-right:25px !important;
	}
	.talen a{
		color: #000;
	}
		
	.rod {
		text-align: right;
		font-size:1.9em;
		font-stretch:expanded !important;
		padding-right:25px !important;
	}
	.rod a{
		color: #000;
	}
	.bol {
		text-align: right;
		font-size:1.9em;
		font-stretch:expanded !important;
		padding-right:25px !important;
	}
	.bol a{
		color: #000;
	}
	.talento_detalle {
		text-align: right;
		font-size:1.9em;
		font-stretch:expanded !important;
		padding-right:25px !important;
	}
	.talento_detalle a{
		color: #000;
	}
	.sede {
		text-align: right;
		font-size:1.9em;
		font-stretch:expanded !important;
		padding-right:25px !important;
	}
	.sede a{
		color: #000;
	}
	.text_decoration_small_rodada_normal{
		margin-left: 0px;
		font-size: 1.1em;
	}
	.text_decoration_medium_boletos{
		padding-left: 20px;
	}
	.text_decoration_small_boletos{
		line-height: 1.5em;
	}
	.text_decoration_medium_reglamento{
		padding-left: 20px;
	}
	.text_decoration_small_reglamento{
		line-height: 1.5em;
	}
	.copyright-content { margin: 0px; padding-top: 22px; color: #999; text-align:left; display: block;  }
	.copyright-content-right{ display: block; }
	.footer_ticketmaster{ display: none;}
    .img_down{ width: 36px;}
	.custom_text {font-size: 1.4em !important;}
    .title_program{font-size: 2.0em;}
    .date_text{font-size: 2.5em !important;}
    .entran_gratis_top {margin-top: -10px;}
    .text_decoration_small_bandas_normal{padding-right: 20px; padding-bottom: 10px;}
    #link_conciertos{margin-top: -50px;}
    .plusReglamento{margin-top: 45px;}
    }


    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
     .navigation { float: none; }
     .hero-title {font-size: 25px; line-height: 40px;}
     .hero-section {padding-top: 0px; padding-bottom: 0px;}
	.programa_naranja{
		background-size: cover;
	}
	.programa_negro{
		background-size: cover;
		padding-bottom: 150px;
	}
	.programa_emocion{
		background-size: cover;
	}
     #hero-section-lugar {padding-top: 80px; padding-bottom: 80px;}
     #hero-section-boletos {padding-top: 80px; padding-bottom: 80px;}
     #hero-section-rodada {padding-top: 80px; padding-bottom: 80px;}
     #hero-section-reglamento {padding-top: 80px; padding-bottom: 80px;}
     .hero-section {padding-top: 80px; padding-bottom: 80px;}
     .content-left-lugar {width: 45%; padding-bottom:50px;}
     .content-right-lugar {width: 55%; padding-top:10px;}
     /*.content-left-zonaharley  {width: 50%;}
     .content-right-zonaharley {width: 50%;}*/
     .content-left-boletos {width: 50%; padding-bottom:50px;}
     .content-right-boletos {width: 50%}
     .text_decoration_legal{font-size: 0.9em;}
     .slider-lugar {padding-top: 10px;}
     .comment-info {padding-left: 100px;}
     .cta-title {font-size: 26px; line-height: 40px;}
     .cta-section {padding-top: 50px; padding-bottom: 50px;}
     .footer-widget {margin-bottom: 20px;}
     .footer-widget .widget-title {margin-bottom: 0px;}
     .page-title {font-size: 20px;}
     .page-caption {padding: 80px 0px;}
     .childern .comment-info {padding-left: 90px;}
     .childern {padding-left: 0px; list-style: none;}
     .text_decoration_small{line-height: 20px}
     .text_decoration_medium {font-size: 1.5em;}
     .text_decoration_high {font-size: 2.5em;}
     .text_decoration_small{font-size: 1.0em}
     .global_inner{margin-top: -50px;}
     .ver_mas img {width: 40%;}
     #top_emocion{margin-top: 0px !important;}
     .img_logo_hdays17{width: 200px;margin-left: 20px;padding-left: 0px;}
	 .footer { position: fixed; bottom: 0px;}
     .header { position: fixed; top: 0px;}
     .text-section-rodada{font-size: 4.0em;margin-top: -50px;}
     .text-section-rodada-right{display: none;}
     .copyright-content { text-align:left; font-size: 7px; padding: 30px 0px 30px 0px; }
     .copyright-content p{ margin: 0 0 10px; }
     .footer_img_social { width: 30%; }
     .row_inner_talento { margin-top: 80px; }
     .img_down{ width: 36px;}
     .custom_text {font-size: 1.4em !important;}
     .title_program{font-size: 2.0em;}
     .date_text{font-size: 2.5em !important;}
     .entran_gratis_top {margin-top: -10px;}
     .text_decoration_small_bandas_normal{padding-right: 20px; padding-bottom: 10px;}
     #link_conciertos{margin-top: -50px;}
     .plusReglamento{margin-top: 45px;}
    }